html,
body {
    height: 100%;
}

#bg_header {
    background-image: url('../img/background_header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-outline-primary {
    color: #B3CC57;
    border-color: #B3CC57;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #B3CC57;
    border-color: #B3CC57;
}

.logo {
    max-width: 15em;
}

i {
    color: #B3CC57;
}

#team_avatar {
    width: 10em;
}


#header_content {
    padding: 5em;
}

#format_spacing {
    padding: 1em 0 1em 0;
}

footer {
    padding-top: 2em;
}

#logo_footer {
    width: 10em;

}

#freepik_link {
    color: #ebebeb;
}

#freepik_link:hover {
    color: #949494;
}

/* Style for the banner */
.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    background: #ccecdc url("cubes.png");
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: black;
    font-weight: 600;
}

.cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
    font-weight: 700;
}

.cookiealert {
	background: linear-gradient(45deg, #CCECDC, #8BE5B6, #B3CC57, #FFFFFF);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
/* Style for the banner */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: #8BE5B6;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #8BE5B6;
}

.fa-star,
.fa-star-half-alt {
    color: #8BE5B6;
}

.circle_orange {
    color: #FFCC01;
}

.circle_green {
    color: #60F000;
}

.table td,
.table th {
    padding: .30rem;
    vertical-align: top;
}

.nutriscoreA {
    max-width: 12em;

}

@media screen and (max-width: 772px) {
    #title_header {
        font-size: 3em;
    }

    #logo_footer {
        margin-bottom: 2em;

    }


}

@media screen and (max-width: 414px) {
    #title_header {
        font-size: 1.5em;
    }

    #header_content {
        padding: 2em;
    }


    #logo_footer {
        margin-bottom: 2em;
        text-align: center;
    }

}