html,
body {
    height: 100%;
}

#bg_header {
    background-image: url('/docs/img/background_header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.logo {
    max-width: 15em;
}

#header_content{
    padding: 5em;
}

#format_spacing {
    padding: 1em 0 1em 0;
}

footer {
    padding-top: 2em;
}

#logo_footer{
    width: 10em;
}



@media screen and (max-width: 772px) {
    #title_header {
      font-size: 3em;
    }

  
  }

  @media screen and (max-width: 414px) {
    #title_header {
      font-size: 1.5em;
    }

    #header_content{
        padding: 2em;
    }

  
  }